/* PaymentGatewayPage.css */

.payment-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.address-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.payment-form-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

/* Style input fields */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style button */
.buy-now-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.card-exp{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-gateway-page {
  
  align-items:center ;
  text-align: center;
  font-weight: bolder;
}

.gateway {
  color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .payment-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }

 
}

/* Styling for smaller screens */
@media screen and (max-width: 767px) {
  .payment-container {
    flex-direction: column;
  }

  .payment-form-container {
    margin-top: 20px;
    /* Adjust other styles for smaller screens */
  }
}