.worker-card {
  margin: auto;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size:small;
  list-style: none;
  width: 600px;
  background-color: rgba(186, 168, 77, 0.077); /* Transparent black */
  border: 1px solid #eac304d0;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transition: background-color 0.3s;
}

.worker-card:hover {
  background-color: rgba(32, 33, 38, 0.8); /* Darker transparent black on hover */
  box-shadow: 0 0 10px rgba(98, 95, 95, 0.5); /* Add a subtle box-shadow on hover */
  color:white;
}

.worker-picture-list {     /*worker's profile card*/
  height: 195px;
  width: 300px;
  float: right;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
}
.worker-picture-list-P {    /*seler product card*/
  height:400px;
  width: 200px;
  float: right;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.worker-type {
  text-align: center;
  color: rgb(7, 32, 81);
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-top: 15px;
}

.worker-card-link {
  text-decoration: none;
  color: inherit;
}

.worker-card-link:hover,
.worker-card-link:active,
.worker-card-link:focus {
  text-decoration: none;
  color: inherit;
}


.hire-button {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.438);
  color: black;
  border: none;
  bottom: 10px;
  right: 10px;
}
.hire-button:hover{
  background-color: rgba(255, 145, 0, 0.67);
  color: rgb(255, 255, 255);

}

.back-img {
  background-image: url("../assets/blue-abstract.jpg");
  background-size: cover;
  background-position: center;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.worker-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.para {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}