/* Styling for RegistrationForm component */

.back {
  background-image: url("../assets/sunset-g35e2ec6e8_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 

.registration-form-container {
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  background-color: #185141;
  font-size: 18px;
  background-color: rgba(159, 154, 187, 0.7);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 255, 0.7);
}

.registration-form-container h2 {
  font-size: 24px;
  margin-top: 0;
}

.registration-form-container .input-field {
  margin-bottom: 10px;
  width: 70%;
  margin-left: 90px; 
}

.registration-form-container label {
  margin-left: 90px;
}

.registration-form-container .submit-button {
  margin-top: 20px;
  height: 50px;
}

/* Login form container */
.login-form-container {
  max-width: 400px;
  margin-top: 7%;
  margin-bottom: 30%;
  padding: 50px;
  font-size: 18px;
  background-color: rgba(159, 154, 187, 0.7);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(115, 80, 80, 0.1), 0 0 20px rgba(0, 0, 255, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form-container h2 {
  font-size: 24px;
  margin-top: 0;
  font-size:30px;
}



.login-form-container .input-field {
  margin-bottom: 10px;
  
  
 
}

.login-form-container .submit-button {
  margin-top: 20px;
  height: 50px;
}

.error-message {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .registration-form-container {
    max-width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    font-size: 16px;
  }

  .registration-form-container .input-field {
    width: 100%;
    margin-left: 0;
  }

  .registration-form-container label {
    margin-left: 0;
  }

  .login-form-container {
    max-width: 90%;
    margin-top: 12%;
    margin-bottom: 20%;
    padding: 30px;
    font-size: 16px;
  }

  .login-form-container h2 {
    font-size: 22px;
  }

  .login-form-container .input-field {
    width: 100%;
  }

  .error-message {
    font-size: 12px;
  }
  .back {
    background-size: cover;
  }
}












