.body {
    background:linear-gradient(rgba(23, 14, 59, 0.262),transparent);
    background-color: rgb(12, 8, 37);
}

.d-block, .w-100 {
  height: 500px;
}

.header {
    text-align: center; 
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }


.announcement-banner {
  background-color: #ff5252;
  color: #ffffff;
  font-size: 24px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.announcement-banner:before {
  content: "";
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ff5252;
}

.announcement-banner:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ff5252;
}

.announcement-banner .sale-text {
  font-weight: bold;
  font-size: 30px;
}

.announcement-banner .sale-text span {
  color: #fffb00;
}


  
.background-image {
   background-image: url("../images/weddease_blk.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    min-height: 100vh;
  
  }
  
  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    margin-top: 30%;
    margin-right: 10%;
  }
  
  .button-margin {
    margin-right: 15px;
  }
  

  @media (max-width: 767px) {
    
    
    .background-image {
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .button-group {
      justify-content: center;
      flex-direction: row;
      margin-top: 70%;
      margin-bottom: 5%;
    }

    
}
  