body {
  background-color: #f8f8f8;
  font-family: 'Playfair Display', serif; /* Elegant serif font */
}

.shopping-services-container {
  text-align: center;
  padding: 50px;
  background-color: #f3e6e6;
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-card {
  flex-basis: calc(33.33% - 30px);
  margin: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.category-card img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  opacity: 0.9;
}

.category-card-content {
  padding: 0px 0;
  text-align: center;
}

.category-card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
}

.category-card p {
  color: #666;
}

.category-card a {
  color: #ad4d4d;
  text-decoration: none;
  font-weight: bold;
}
.shopping-services-container {
  text-align: center;
  padding: 50px;
  background-color: #f3e6e6;
}

.shopping-services-container h1 {
  font-size: 2.5rem; /* Increase font size */
  color: #ad4d4d; /* Change title color */
  font-family: 'Playfair Display', serif; /* Apply font family */
  margin-bottom: 20px; /* Adjust margin bottom */
}

