.worker-home-container {
  position: relative;
  background-image: url("https://images.pexels.com/photos/1456613/pexels-photo-1456613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-container {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.toggle-switch .form-check-input {
  width: 48px;
  height: 24px;
}

.toggle-switch .form-check-input:active {
  transform: scale(0.9);
}

.toggle-switch .form-check-input:checked {
  background-color: #4caf50;
}

.toggle-switch .form-check-input:checked:after {
  left: 22px;
}

.toggle-switch .form-check-input:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.toggle-switch .form-check-label {
  margin-left: 10px;
  font-weight: bold;
}
