.work-card {
  margin: auto;
  margin-bottom: 30px;
  color: white;
  list-style: none;
  width: calc(50% - 100px); /* Calculate width to fit two items */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s;
  display: inline-block; /* Display items inline */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-right: 30px;
  margin-left: 50px; /* Add some space between items */
  
}



.work-card:hover {
  background-color: rgba(32, 33, 38, 0.8); /* Darker transparent black on hover */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add a subtle box-shadow on hover */
}

.work-picture-list {
  height: 200px;
  width: 200px;
  float: right;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.work-type {
  text-align: center;
  color: rgb(242, 243, 245);
  font-size: 30px;
  margin-top: 15px;
}

.work-card-link {
  text-decoration: none;
  color: inherit;
}

.work-card-link:hover,
.work-card-link:active,
.work-card-link:focus {
  text-decoration: none;
  color: inherit;
}




.back-img {
  background-image: url("../assets/blue-abstract.jpg");
  background-size: cover;
  background-position: center;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}



.para {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .work-card {
    width: 100%; /* Make cards take up full width on smaller screens */
    max-width: 300px; /* Limit card width on smaller screens */
  }
}