.worker-home-container {
  position: relative;
  background-image: url("../assets/sunset-g35e2ec6e8_1280.jpg");
  background-size: cover;
  background-position: center;
  
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logout-button {
  position: absolute;
  top: 90px;
  right: 65px;
}

.date-range-picker-container {
 
  margin-top: 30px;
  font-size: 25px;
  color: azure;
}

.date-range-picker-container {
  margin-top: 30px;
  font-size: 25px;
  color: azure;
  max-width: 400px; /* Default width for larger screens */

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    max-width: 300px;
  }

  /* Adjustments for extra-small screens */
  @media (max-width: 576px) {
    max-width: 200px;
  }
}
